{% if edit_link %}
    <a class="btn btn-primary btn-sm" role="button" href="{% url edit_link record.id %}">
        <span class="oi oi-pencil"></span>
    </a>
{% endif %}

{% if del_link %}
    <a class="btn btn-danger btn-sm" role="button" href="{% url del_link record.id %}">
        <span class="oi oi-trash"></span>
    </a>
{% endif %}

<a class="btn btn-info btn-sm" role="button" title="Historique" href="{# {% url 'media:history' record.id %} #}">
    <span class="oi oi-timer"></span>
</a>
