{% if medias_list.paginator %}
    {% include "pagination.html" with list=medias_list %}
{% endif %}

<table class="table table-striped">
    <thead>
    <tr>
        <th>Titre</th>
        <th>Auteur</th>
        <th>Cote</th>
        <th></th>
    </tr>
    </thead>
    {% for media in medias_list %}
        <tr>
            <td>{{ media.titre }}</td>
            <td>{% for aut in media.auteur.all %}{{ aut }}, {% endfor %}</td>
            <td>{{ media.cote }}</td>
            <td>
                {% if is_perm %}
                    {% include 'buttons/edit.html' with href='media:edit-media' id=media.id %}
                    {% include 'buttons/suppr.html' with href='media:del-media' id=media.id %}
                {% endif %}
                {% include 'buttons/history.html' with href='media:history' name='media' id=media.id %}
            </td>
        </tr>
    {% endfor %}
</table>
