{% if auteurs_list.paginator %}
    {% include "pagination.html" with list=auteurs_list %}
{% endif %}

<table class="table table-striped">
    <thead>
    <tr>
        <th>Nom</th>
        <th></th>
    </tr>
    </thead>
    {% for auteur in auteurs_list %}
        <tr>
            <td>{{ auteur.nom }}</td>
            <td>{% if is_perm %}{% include 'buttons/edit.html' with href='media:edit-auteur' id=auteur.id %}
                {% include 'buttons/suppr.html' with href='media:del-auteur' id=auteur.id %}{% endif %}
                {% include 'buttons/history.html' with href='media:history' name='auteur' id=auteur.id %}</td>
        </tr>
    {% endfor %}
</table>
