{% if jeux_list.paginator %}
    {% include "pagination.html" with list=jeux_list %}
{% endif %}

<table class="table table-striped">
    <thead>
    <tr>
        <th>Nom</th>
        <th>Proprietaire</th>
        <th>Durée</th>
        <th>Joueurs min</th>
        <th>Joueurs max</th>
        <th>Comment</th>
        <th></th>
    </tr>
    </thead>
    {% for jeu in jeux_list %}
        <tr>
            <td>{{ jeu.nom }}</td>
            <td>{{ jeu.proprietaire }}</td>
            <td>{{ jeu.duree }}</td>
            <td>{{ jeu.nombre_joueurs_min }}</td>
            <td>{{ jeu.nombre_joueurs_max }}</td>
            <td>{{ jeu.comment }}</td>
            <td>
                {% if is_perm %}
                    {% include 'buttons/edit.html' with href='media:edit-jeu' id=jeu.id %}
                    {% include 'buttons/suppr.html' with href='media:del-jeu' id=jeu.id %}
                {% endif %}
                {% include 'buttons/history.html' with href='media:history' name='jeu' id=jeu.id %}
            </td>
        </tr>
    {% endfor %}
</table>
