{% extends "base.html" %}

{% block sidebar %}
    <div class="card list-group mt-3 border-info">
        <a class="list-group-item list-group-item-action" href="{% url "media:index" %}">
            <span class="oi oi-list"></span>
            Emprunts
        </a>
        <a class="list-group-item list-group-item-action" href="{% url "media:index-auteurs" %}">
            <span class="oi oi-people"></span>
            Auteurs
        </a>
        <a class="list-group-item list-group-item-action" href="{% url "media:index-medias" %}">
            <span class="oi oi-audio-spectrum"></span>
            Medias
        </a>
        <a class="list-group-item list-group-item-action" href="{% url "media:index-jeux" %}">
            <span class="oi oi-box"></span>
            Jeux
        </a>
    </div>
{% endblock %}
