[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"django-tables2" = "*"
django-haystack = "*"
django-filter = "*"
djangorestframework = "*"
drf-haystack = "*"
python-stdnum = "*"

[dev-packages]

[requires]
python_version = "3.7"
