{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "User authentication" %}{% endblock %}

{% block content %}
    <h2>{% trans "User authentication" %}</h2>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">
            <span class="oi oi-account-login"></span>
            {% trans "Log in" %}
        </button>
    </form>
    <a class="small font-italic" role="button" href="{% url 'users:reset-password' %}">
        {% trans "Forgotten password ?" %}
    </a>
{% endblock %}
