{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}Login{% endblock %}

{% block content %}
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">
            <span class="oi oi-account-login"></span>
            Login
        </button>
    </form>
    <a class="small font-italic" role="button" href="{% url 'users:reset-password' %}">
        Mot de passe oublié ?
    </a>
{% endblock %}
