{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h2>{{ title }}</h2>
    <p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-info">
            <span class="oi oi-compass"></span>
            {% trans "Reset my password" %}
        </button>
    </form>
{% endblock %}
