{% extends "base.html" %}

{% block sidebar_nav %}
    <div class="card list-group mt-3 border-info">
        <a class="list-group-item list-group-item-action" href="{% url "search:search" %}">
            <span class="oi oi-magnifying-glass"></span>
            Recherche simple
        </a>
        <a class="list-group-item list-group-item-action" href="{% url "search:advanced_search" %}">
            <span class="oi oi-ellipses"></span>
            Recherche avancée
        </a>
    </div>
{% endblock %}
