{% extends "search/base.html" %}

{% block title %}Résultats de la recherche{% endblock %}

{% block content %}
    {% if users_list %}
        <h2>Résultats dans les utilisateurs</h2>
        {% include "users/aff_users.html" with users_list=users_list %}
    {% endif %}
    {% if emprunts_list %}
        <h2>Résultats dans les emprunt : </h2>
        {% include "media/aff_emprunts.html" with emprunts_list=emprunts_list %}
    {% endif %}
    {% if medias_list %}
        <h2>Résultats dans les media : </h2>
        {% include "media/aff_medias.html" with medias_list=medias_list %}
    {% endif %}
    {% if jeux_list %}
        <h2>Résultats dans les jeux : </h2>
        {% include "media/aff_jeux.html" with jeux_list=jeux_list %}
    {% endif %}
    {% if not users_list and not emprunts_list and not medias_list and not jeux_list %}
        <h3>Aucun résultat</h3>
    {% endif %}
    <h6>(Seulement les {{ max_result }} premiers résultats sont affichés dans chaque catégorie)</h6>
{% endblock %}
