<table class="table table-striped">
    <thead>
    <tr>
        <th>Année début</th>
        <th>Année fin</th>
        <th></th>
    </tr>
    </thead>
    {% for adhesion in adhesion_list %}
        <tr>
            <td>{{ adhesion.annee_debut }}</td>
            <td>{{ adhesion.annee_fin }}</td>
            <td class="text-right">
                {% if is_bureau %}
                    {% include 'buttons/edit.html' with href='users:edit-adhesion' id=adhesion.id %}
                    {% include 'buttons/suppr.html' with href='users:del-adhesion' id=adhesion.id %}
                {% endif %}
                {% include 'buttons/history.html' with href='users:history' name='adhesion' id=adhesion.id %}
            </td>
        </tr>
    {% endfor %}
</table>
