{% if users_list.paginator %}
    {% include "pagination.html" with list=users_list %}
{% endif %}

<table class="table table-striped">
    <thead>
    <tr>
        <th>Prénom</th>
        <th>Nom</th>
        <th>Pseudo</th>
        <th>Mail</th>
        <th>Max emprunts</th>
        <th>Adhérent</th>
        <th>Profil</th>
    </tr>
    </thead>
    {% for user in users_list %}
        <tr>
            <td>{{ user.name }}</td>
            <td>{{ user.surname }}</td>
            <td>{{ user.pseudo }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.maxemprunt }}</td>
            {% if user.is_adherent %}
                <td><font color="green">Oui</font></td>
            {% else %}
                <td><font color="red">Non</font></td>
            {% endif %}
            <td><a href="{% url "users:profil" user.id %}" class="btn btn-primary btn-sm" role="button"><i
                    class="glyphicon glyphicon-user"></i></a>
            </td>
        </tr>
    {% endfor %}
</table>
