{% extends "users/sidebar.html" %}

{% block title %}Création et modification d'utilisateur{% endblock %}

{% block content %}
    <h1>Gestion des droits</h1>
    <form class="form" method="post">
        {% csrf_token %}
        <table class="table table-striped">
            <thead>
            <tr>
                {% for key, values in userform.items %}
                    <th>{{ key }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tr>
                {% for key, values in userform.items %}
                    {% bootstrap_form_errors values %}
                    <th>{{ values.rights }}</th>
                {% endfor %}
            </tr>
        </table>
        {% bootstrap_button "Modifier" button_type="submit" icon="star" %}
    </form>
{% endblock %}
