{% extends "base.html" %}

{% block title %}Accueil{% endblock %}

{% block content %}
    <h1>Bienvenue sur la base de données de la médiathèque de l'ENS Paris-Saclay</h1>

    <p class="lead">
        <span class="text-muted">Welcome to procrastination haven !</span>
        À quoi sert ce site ? Comment adhérer ? Bonjour voilà ?
        Allez voir <a href="https://wiki.crans.org/MeDiath%C3%A8que">la page wiki de la Mediatek</a> pour obtenir
        plus d'informations.
    </p>

    <img src="/static/images/splash.png" class="img-fluid mt-4" alt="logo">
{% endblock %}
