{% load staticfiles %}

<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Med : {% block title %}{% endblock %}</title>

    {# CSS style #}
    <link rel="stylesheet" href="{% static "/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "/css/open-iconic-bootstrap.min.css" %}">
</head>
<body>

{# Top navbar #}
{% include "navbar.html" %}

<div class="container-fluid">
    <div class="row">
        <main role="main" class="col-lg-10 p-5 order-lg-12">
            {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                    {{ message }}
                </div>
            {% endfor %}

            {% block content %}{% endblock %}
        </main>

        {# Left sidebar #}
        <nav class="col-lg-2 bg-light sidebar shadow order-lg-1">
            {# Let pages put content here #}
            {% block sidebar_nav %}{% endblock %}

            {# Other sidebar content #}
            {% include "sidebar.html" with sidebar_nav=sidebar_nav %}
        </nav>
    </div>
</div>
</body>
</html>
