{% load i18n %}

{% if list.paginator.num_pages > 1 %}
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if list.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">{% trans "First" %}</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ list.previous_page_number }}">
                        <span aria-hidden="true">&lsaquo;</span>
                        <span class="sr-only">{% trans "Previous" %}</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled"><span class="page-link" aria-hidden="true">&laquo;</span></li>
                <li class="page-item disabled"><span class="page-link" aria-hidden="true">&lsaquo;</span></li>
            {% endif %}

            {% for page in list.paginator.page_range %}
                {% if list.number <= page|add:"3" and list.number >= page|add:"-3" %}
                    <li class="page-item {% if list.number == page %}active{% endif %}">
                        <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if list.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ list.next_page_number }}">
                        <span aria-hidden="true">&rsaquo;</span>
                        <span class="sr-only">{% trans "Next" %}</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ list.paginator.page_range|length }}">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">{% trans "Last" %}</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled"><span class="page-link" aria-hidden="true">&rsaquo;</span></li>
                <li class="page-item disabled"><span class="page-link" aria-hidden="true">&raquo;</span></li>
            {% endif %}
        </ul>
    </nav>
{% endif %}
