{% load i18n %}

{# Card for user profile #}
{% if user.is_authenticated %}
    <div class="card mt-3 border-success">
        <h5 class="card-header">{{ user.first_name }} {{ user.last_name }}</h5>
        <div class="card-body">
            <dl>
                <dt>{% trans "Pseudo" %}</dt>
                <dd>{{ user.username }}</dd>

                <dt>{% trans "E-mail" %}</dt>
                <dd>{{ user.email }}</dd>

                <dt>{% trans "Membership for current year" %}</dt>
                <dd>
                    {% if user.is_adherent %}
                        <span class="badge badge-success">{% trans "Yes" %}</span>
                    {% else %}
                        <span class="badge badge-danger">{% trans "No" %}</span>
                    {% endif %}
                </dd>

                <dt>{% trans "Member since" %}</dt>
                <dd>{{ user.date_joined|date:"F Y" }}</dd>

                {% if user.comment %}
                    <dt>{% trans "Comment" %}</dt>
                    <dd>{{ user.comment }}</dd>
                {% endif %}

                {% if user.phone %}
                    <dt>{% trans "Phone" %}</dt>
                    <dd>{{ user.phone }}</dd>
                {% endif %}
            </dl>
            <div class="card-text text-center">
                <a href="{% url 'logout' %}" class="btn btn-outline-secondary">
                    <span class="oi oi-account-logout"></span>
                    {% trans "Log out" %}
                </a>
            </div>
        </div>
    </div>
{% else %}
    <div class="card mt-3 border-warning">
        <div class="card-body text-center">
            <p class="card-text">
                {% trans "You are not log in yet." %}
            </p>
            <a href="{% url 'login' %}" class="btn btn-outline-success">
                <span class="oi oi-account-login"></span>
                {% trans "Log in" %}
            </a>
        </div>
    </div>
{% endif %}

{# Footer #}
<footer class="footer mt-auto py-3">
    <div class="container">
            <span class="text-muted">
                {% trans "Med" %} 2019 &mdash; {% trans "Coded with" %} <span class="oi oi-heart"></span>
            </span>
    </div>
</footer>
