[Unit]
Description=Crans Portail Captif
Requires=nginx.service
Requires=portail_captif.socket
After=nginx.service
After=network-online.target

[Service]
Type=forking
User=root
Group=root
PIDFile=/run/portail_captif.pid
WorkingDirectory=/var/www/portail_captif/
ExecStartPre=/usr/bin/python3 /var/www/portail_captif/portail_captif/start_portail.py
ExecStart=/usr/bin/gunicorn3 portail_captif.wsgi:application --pid=/run/portail_captif.pid --name www-data --user www-data --group www-data --daemon --log-file /var/log/gunicorn/portail_captif.log --log-level=info --bind=unix:///tmp/gunicorn-portail_captif.sock --workers=1
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
ExecStopPost=/usr/bin/python3 /var/www/portail_captif/portail_captif/stop_portail.py
Restart=on-failure
RestartSec=65
StartLimitInterval=60
StartLimitBurst=2

[Install]
WantedBy=multi-user.target
Also=portail_captif.socket
